.post-box {
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
}

.post-box h2 {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
}

.post-box p {
  white-space: pre-line;
}

.control-box {
  margin: 5px;
  box-sizing: border-box;
  text-align: right;
}
.control-box form {
  display: inline;
}
.control-box a, .control-box form button {
  margin: 2px 4px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  outline: none;
  background: #8dc63f;
  color: white;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.comment-box {
  margin: 5px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
}
.comment-box h3 {
  margin: 5px;
  font-size: 1.5em;
}

.comment-form {
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
}
.comment-form > div {
  margin-bottom: 10px;
}
.comment-form > div:last-child {
  margin-bottom: 0px;
}
.comment-form .label-title {
  display: inline-block;
  width: 50px;
}
.comment-form textarea {
  display: block;
  margin: 10px;
  min-width: 400px;
  min-height: 50px;
}
.comment-form button {
  width: 120px;
  box-sizing: border-box;
  padding: 5px;
  border: 0px;
  background: #8dc63f;
  color: white;
}

.comment-item {
  margin: 5px;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid black;
}
.comment-item:last-child {
  border-bottom: none;
}
.comment-item span {
  margin: 3px;
  font-size: 1.2em;
  font-weight: bold;
}
.comment-item div {
  margin: 3px;
  white-space: pre-line;
}
