.post-list-title {
  font-size: 1.5em;
  font-weight: bold;
}
.post-list {
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.post-item {
  margin: 1em 0px;
}
.post-item span {
  font-size: 1.2em;
}
.post-item div {
  margin: 10px 5px;
}
