<article class="post-box">
  <h2>{{ post.title }}</h2>
  <p>
  {{ post.content }}
  </p>
</article>
<section class="control-box post-control-box">
  <a href="{{ url_for('edit_post', post_id=post.id) }}">수정</a>
  <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" onsubmit="return confirm('삭제하시겠습니까?')">
    <button>삭제</button>
  </form>
</section>
<section class="comment-box">
  <h3>댓글 ({{ post.comments|length }})</h3>
  {# http://jinja.pocoo.org/docs/2.9/templates/#builtin-filters #}
  {% set parent_post = post %}
  {% include 'comment-form.html' %}
  <ul>
  {% for comment in post.comments %}
    <li class="comment-item">
      <span class="comment-name">{{ comment.name }}</span>
      <div class="comment-content">{{ comment.content }}</div>
      <section class="control-box comment-control-box">
        <form action="{{ url_for('delete_comment', post_id=post.id, comment_id=comment.id) }}" method="POST" onsubmit="return confirm('삭제하시겠습니까?')">
          <button>삭제</button>
        </form>
      </section>
    </li>
  {% endfor %}
  </ul>
</section>
